.player:after{
	content:attr(nickname);
	color:white;
	}

	.player {
  width: 720px;
  height: 405px;
  background: linear-gradient(#444, #111);
  position: relative;
  user-select: none;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(black, 0.5);
  text-align: center;
  color: white;
  border: 1px solid white;
  z-index: 5;
  &:before {
    position: absolute;
    bottom: 0;
    right: 100%;
    counter-increment: slides;
    content: counter(slides);
    padding-right: 0.35rem;
    color: #999;
    line-height: normal;
    font-size: 1rem;
  }
}

.playerMargin{
	width: 740px;
	height: 425px;
	position: relative;
	float:left;
}

.cloned-slides {
  .slide {
    position: absolute;
    z-index: 1;
    &:before {
      content: attr(data-pos);
    }
  }
}

.buttoncss {
	-moz-box-shadow:inset 0px 0px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 0px 0px 0px #000000;
	box-shadow:inset 0px 0px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3096c9), color-stop(1, #03699c) );
	background:-moz-linear-gradient( center top, #3096c9 5%, #03699c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3096c9', endColorstr='#03699c');
	background-color:#3096c9;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:0px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:Verdana;
	font-size:13px;
  margin-bottom: 3px;
	font-weight:bold;
	font-style:normal;
	height:26px;
	line-height:25px;
	text-decoration:none;
	text-align:center;
}
.buttoncss:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #03699c), color-stop(1, #3096c9) );
	background:-moz-linear-gradient( center top, #03699c 5%, #3096c9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#03699c', endColorstr='#3096c9');
	background-color:#03699c;
}.buttoncss:active {
	position:relative;
	top:1px;
}


.closeButton {
     line-height: 10px;
     width: 18px;
     font-size: 8pt;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }

  .credits{
    font-size:10px;
    font-family:Verdana;
    float: right;
  }

 .resizeButton {
     line-height: 10px;
     width: 18px;
     font-size: 8pt;
     margin-right: 2px;
     position:absolute;
     top:19px;
     right:0;
 }

.sortable-placeholder {
  background-color: "black";
  float:left;
  height: 270px;
  width: 480px;
  margin-bottom: 18px;
  margin-right: 18px;
  border: 1px solid white;
  position: relative;
  box-shadow: 0 0 5px rgba(black, 0.5);
  z-index: 6;
}